<!DOCTYPE html>
<html>
	
	
<head>
     <title>Aggiorna Attori</title>
     <link rel="stylesheet" href="/css/stile.css" />
</head>


<body>
<header id="header-nav">
	<div class="login-out">
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}" style="color:white"></span>
			<a href="/logout">LOGOUT</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">LOGIN</a>
		</div>
	</div>

	<ul>
		<li> <a href="/success">Home</a> </li>
		<li> <a href="/movies">Film</a> </li>
		<li> <a href="/artist">Attori</a> </li>
	</ul>
</header>

<div class="img-container">
	<a href="/"><img src="/images/logo4.png" width="50%"/></a>
</div>

<section class="centro" style="margin-top: 250px;" >
     <div><h1 th:text="'Attori del film ' + ${movie.title} + ':'"></h1></div>
	<p></p>
  	  <p th:if="${artists.isEmpty()}">Non ci sono attori nel film</p>
 	  <ul style="font-family: 'Century Gothic'; font-size: 18px;">
      	  <div th:each="artist : ${artists}">
		      <span th:text="${artist.name} + ' ' + ${artist.surname}">Attore</span>
    	      <a th:href="@{'/admin/removeActorFromMovie' + '/' + ${artist.id} + '/' + ${movie.id}}" style="font-size:15px; color: red">Cancella attore</a>
  	      </div>
  	  </ul>
  

	  <div>Attori che puoi aggiungere al film:</div>
	  <span th:if="${notMovieActors.isEmpty()}">Non ci sono attori da aggiungere</span>
	  <ul style="font-family: 'Century Gothic'; font-size: 18px;">
		  <div th:each="artist : ${notMovieActors}">
			  <span th:text="${artist.name} + ' ' + ${artist.surname}">Attore </span>
			  <a th:href="@{'/admin/addActorToMovie' + '/' + ${artist.id} + '/' + ${movie.id}}" style="font-size:15px; color: red"> Aggiungi attore</a>
		  </div>
	  </ul>
  
      <div>
	       <a th:href= "@{'/admin/formUpdateMovie' + '/' + ${movie.id}}"><button type="button">FINE</button></a>
      </div>
</section>
</body>


</html>