<!DOCTYPE html>
<html>
	
<head> 
  <title>New Artist</title> 
  <link rel="stylesheet" href="/css/stile.css?version=3" />
</head> 

<body>
<header id="header-nav">
	<div class="login-out">
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}" style="color:white"></span>
			<a href="/logout">LOGOUT</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">LOGIN</a>
		</div>
	</div>

	<ul>
		<li> <a href="/success">Home</a> </li>
		<li> <a href="/movies">Film</a> </li>
		<li> <a href="/artist">Attori</a> </li>
	</ul>
</header>

<div class="img-container">
	<a href="/"><img src="/images/logo4.png" width="50%"/></a>
</div>

<section class="centro-login-out">
  <h1 style="text-shadow: none">Aggiungi un artista</h1>
  <form th:action="@{/artist}" method="POST" th:object="${artist}"> 
       <div>
	      <span th:text="${messaggioErrore}">Errore</span>
       </div>
      
	   <div>
	       <label>Nome:</label> <span><input required type="text" th:field="${artist.name}"/></span>
	   </div> 
   
	   <p>
	       <label>Cognome:</label> <span><input required type="text" th:field="${artist.surname}"/></span>
	   </p>
   
	   <div> 
		   <label>Data di nascita:</label> <span><input required type="date" th:field="${artist.dateOfBirth}" /></span>
	   </div>
   
	   <p>
	    <span><button type="submit" class="button">CONFERMA</button></span>
	   </p>
  </form>
</section>

</body>


</html>