<!DOCTYPE html>
<html>
 <head>
   <title>Artist</title> 
   <link rel="stylesheet" href="/css/stile.css?version=2" />
</head>
  
<body>
	 <header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
  <div><a href="/"><img src="/images/logo-mio.png" width="50%"/></a></div>
  <h1>Dettagli Artista</h1>
  <div th:if="${artist}">
      <div>
          <label>Nome: </label> <span th:text="${artist.name} + ' ' + ${artist.surname}">Paola Cortellesi</span>
      </div>
      <div>
          <label>Anno di nascita: </label> <span th:text="'(' + ${artist.dateOfBirth} + ')'">20/20/2000</span>
      </div>
      <div>
          <label>Anno di morte: </label>
          <span th:if="${artist.dateOfDeath}">
              <span th:text="'(' + ${artist.dateOfDeath} + ')'">20/20/2000</span>
          </span>
          <span th:unless="${artist.dateOfDeath}">Non presente</span>
      </div>
  </div> 
  <div th:unless="${artist}">Non esiste</div>
</body>

</html>