<!DOCTYPE html>
<html>
<head>
    <title>New recensione</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>


<body>
<header id="header-nav">
    <div class="login-out">
        <div th:if="${#request.userPrincipal}">
            <span th:text="${#request.userPrincipal.principal.username}" style="color:white"></span>
            <a href="/logout">LOGOUT</a>
        </div>
        <div th:unless="${#request.userPrincipal}">
            <a href="/login">LOGIN</a>
        </div>
    </div>

    <ul>
        <li> <a href="/success">Home</a> </li>
        <li> <a href="/movies">Film</a> </li>
        <li> <a href="/artist">Attori</a> </li>
    </ul>
</header>

<section class="centro">
<h1>Aggiungi una recensione</h1>
<form th:action="@{'/addRecensione/'+ ${movie.id}+ '/' + ${credentials.user.id}} " method="POST"
      th:object="${recensione}">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <label>Titolo</label>
    <div><input type="text" placeholder="titolo" required th:field="${recensione.titolo}"/></div>
    <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"
          th:style="'color:red'">
    </span>
    <p></p>

    <div>
        <label>Voto</label>
        <div><input type="number" th:field="${recensione.valutazione}" min="1" max="5" step="1"></div>
        <span th:if="${#fields.hasErrors('valutazione')}" th:errors="*{valutazione}" th:style="'color:red'"></span>
    </div>

    <p></p>

    <div>
        <label>Testo</label>
        <div><textarea type="text" placeholder="inserisci un testo" required th:field="${recensione.testo}"/></textarea></div>
    </div>

    <p>
        <span><button type="submit">INVIA</button></span>
    </p>

</form>

</section>
</body>

</html>