<!DOCTYPE html>
<html>
<head>
    <title>Film</title>
    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stile2.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/">
        <img src="/images/logo4.png" width="80" height="50" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/success">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Film</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/artist">Attori</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:if="${#request.userPrincipal}" th:text="${#request.userPrincipal.principal.username}"
                   style="color:white"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${#request.userPrincipal}" href="/logout">LOGOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:unless="${#request.userPrincipal}" href="/login">LOGIN</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Artista non trovato</h1>
</body>
</html>>
    <h1>Film</h1>
    <div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>
    <ul>
        <li th:each="movie : ${movies}">
            <a th:href="@{'/movies' + '/' + ${movie.id}}"
                th:text="${movie.title} + ' (' + ${movie.year} + ')'">Film (anno)</a>
        </li>
    </ul>
    </section>
</body>

</html>